FactoryDatabricks/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "FactoryDatabricks"
		},
		"AzureDatabricksConexao_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'AzureDatabricksConexao'"
		},
		"AzureDatabricksConexao_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0410-012543-9422nmqu"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_anac')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/fabricio.milanio@hotmail.com/pipeline-anac-azure-databricks/pipeline-anac-azure-databricks/Notebooks - Produção/4. Anac - Camada Silver (Refaturado)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksConexao",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/fabricio.milanio@hotmail.com/pipeline-anac-azure-databricks/pipeline-anac-azure-databricks/Notebooks - Produção/5. Anac - Camada Gold (Refaturado)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksConexao",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksConexao')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksConexao')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3141124673799336.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksConexao_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksConexao_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_anac')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_anac",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-10T15:52:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								52
							],
							"hours": [
								15
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_anac')]"
			]
		}
	]
}